[project]
	description = The bootloader used for the ARM port - Automatically replicated from gerrit.minix3.org
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lionel Sambuc (sambuc)
[access "refs/for/refs/*"]
	read = group user/Lionel Sambuc (sambuc)
	push = group user/Lionel Sambuc (sambuc)
	label-Code-Review = -2..+2 group user/Lionel Sambuc (sambuc)
	label-Verified = -1..+1 group user/Lionel Sambuc (sambuc)
	rebase = group user/Lionel Sambuc (sambuc)
	removeReviewer = group user/Lionel Sambuc (sambuc)
	submit = group user/Lionel Sambuc (sambuc)
[access "refs/heads/*"]
	read = group user/Lionel Sambuc (sambuc)
	create = group user/Lionel Sambuc (sambuc)
	push = +force group user/Lionel Sambuc (sambuc)
	pushMerge = group user/Lionel Sambuc (sambuc)
[access "refs/tags/*"]
	push = +force group user/Lionel Sambuc (sambuc)
	createTag = group user/Lionel Sambuc (sambuc)
	createSignedTag = group user/Lionel Sambuc (sambuc)
